.content{
    padding-top: 50px ;
    padding-bottom: 250px;
    position: relative;
    z-index: 1;
}
@media (max-width:1110px){
    .content{
        padding-top: 0 ;
        padding-bottom: 200px;
    }
}